/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body{
    font-size: var(--fs-16);
    font-family: 'Poppins', sans-serif;
}
:root{
    /* Color */
    --primary: #222;
    --secondary: #333;
    --helper: #289bde;
    --pure: #fff;
    --dark: #777777;
    --text: #a4a4a4;

    /* Font Size */
    --fs-16: 1rem;
    --fs-18: 1.1rem; /*h5,h6*/
    --fs-20: 1.2rem; /*h4*/
    --fs-40: 2.5rem; /*logo*/
    --fs-65: 4rem; /*h1*/
    --fs-45: 2.8rem; /*h2*/
    --fs-25: 1.5rem; /*h3*/
    
    /* Font Weight */
    --fw-600: 600;
    --fw-500: 500; /*li, h6, p, a*/
    --fw-400: 400;
}

/* Custom Styles */
.logo{
    font-size: var(--fs-40);
    color: var(--primary);
    font-weight: var(--fw-500);
}
.menubar li a{
    margin: 0 1rem;
}
.top-btn{
    border-color: var(--helper);
    color: var(--helper);
}
.top-btn:hover{
    background-color: var(--helper);
    border-color: var(--helper);
    color: var(--pure);
}
.carousel .carousel-inner .carousel-item{
    height: 100%;
}
.img-overlay::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.8);
}
.caption{
    z-index: 1;
    top: 10%;
    bottom: auto;
}
.caption h1{
    font-size: 4vw;
    font-weight: 600;
}
.caption p{
    font-size: 1vw;
}

/* Courses */
.section-title{
    width: 40%;
    font-size: var(--fs-45);
    font-weight: var(--fw-600);
}

