/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body{
    font-size: var(--fs-16);
    font-family: 'Poppins', sans-serif;
}
:root{
    /* Color */
    --primary: #222;
    --secondary: #333;
    --text: #777;

    /* Font Size */
    --fs-16: 1rem;
    --fs-18: 1.1rem; /*h5,h6*/
    --fs-20: 1.2rem; /*h4*/
    --fs-25: 1.5rem; /*h3*/
    --fs-30: 1.8rem;
    --fs-40: 2.5rem; /*logo*/
    --fs-65: 4rem; /*h1*/
    --fs-45: 2.8rem; /*h2*/
   
    
    /* Font Weight */
    --fw-600: 600;
    --fw-500: 500; /*li, h6, p, a*/
    --fw-400: 400;
}

h3{
    font-weight: var(--fw-600);
}
h5{
    font-weight: var(--fw-600);
}
h6{
    color: var(--text);
    font-size: small;
}
p, span{
    color: var(--text);
}
h2 {
    font-size: var(--fs-45);
    font-weight: var(--fw-600);
}

/* Custom Styles */
.logo{
    font-size: var(--fs-30);
    color: var(--primary);
    font-weight: var(--fw-500);
}
.menubar li a{
    margin: 0 1rem;
}
.img-overlay::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.8);
}
.caption{
    z-index: 1;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 0;
    margin: auto;
    transform: translateX(-50%);
    width: 80%;
}
.caption h1{
    font-size: 4vw;
    font-weight: 600;
}
.caption p{
    font-size: 1vw;
}
.our-courses span{
    font-weight: var(--fw-500);
}
.card-bg{
    background: rgba(136, 136, 242, 0.099);
}
.enrollment{
    padding: 80px 0;
}
.counter{
    width: 80%;
}
/* Footer */
.footer{
    padding: 80px 0;
}
.social-links .link-item{
    height: 30px;
    width: 30px;
    line-height: 33px;
    background: #333;
}

